*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.container{
    width: 40%;
    margin: auto;
    /* height: 500px; */
    border: 0px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
h4{
    color: #8652ff;
}
.container h1{
    text-align: center;
}
.container >h4+p{
    background-color: #8652ff;
    color: white;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
}

.first-row{
     display: flex;
}

.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}
 input:focus {
     border: 1px solid #8652ff;
     outline: none;
 }
 select:focus {
     border: 2px solid #8652ff;
     outline: none;
 }
.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select{
    padding: 10px 20px;
}

a{
    background-color:#8652ff;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

a:hover{
    background-color: dodgerblue;
}

.cards img{
    width: 80px;
}